
:root{
	--main-font: sans-serif;
	--font-size: 16px;
	--main-color: #C6E2FF;
	--second-color:#222;
	--article-color: #C7BEE1;
	--footer-color: #6B463D;
}

body{
	background: var(--main-color);
	margin: 0;
	padding:0;
}

a{
	text-decoration: none;	
	color: var(--second-color);
}

.articulos article{
	background: var(--article-color);
	padding: 1em;

}

.articulos article{
	background: #C7BEE1;
	padding: 1em;
}

header{
	position:fixed;
	top: 0;
	width: 100vw;
	height: 4em;
	background:rgba(42, 93, 138, 0.91);
}

header h1 {
	text-align: center;
	font-size: 170%;
	color: #DBE8F4;
}

.menu{
	border: 1px solid #C4DAED;
	background: #C4DAED;
	margin-bottom: 2em;
	margin-top: 3em;
	text-align: center;
	font-size: 120%;

}

.menu ul {
	padding: 0;
}

.menu li{
	list-style: none;
	display: inline-block;
	margin-right: 2em;
	margin-left: 2em;
}

.articulos{
	margin-left: 1em;
	margin-bottom: 2em;
	width: 70%;
	float: left;
}

.articulos article{
	background: #C7BEE1;
	padding: 1em;

}

.articulos time{
	color:gray;
}

.aside{
	display: inline-block;
	width: 25%;
	border: 1px solid whitesmoke;
	margin-left: 2%;
}

.aside ul li a{
	padding: 2rem;
	width: inherit;
	display: block;
	font-size: 1.5rem;
	text-decoration: none;
	color: var(--main-color);
}

.footer{
	height: 3em;
	background: #6B463D;
	text-align: center;
	color:#C4DAED;
	padding-top: 2em;
	clear: both;
}

